<div>
    <h1>Hello</h1>
    <form action="???" data-turbo="false">
        <input type="text" name="answer">
        <input class="btn btn-primary" type="submit" value="Ask!">
    </form>
    <div class="badge text-bg-info"><h2><%= @answer %></h2></div>
</div>
